footer{
  display: flex;
  width: 100vw;
  height: 70px;
  align-items: center;
  justify-items: flex-start;
  margin-top: 20px;


  background: $color-bg-light;

  a{
    width: 30px;
    height: 30px;
    margin: 0 0 0 10px;
  }

  a img:hover{
    filter:
            saturate(0.4)
            brightness(1.5);

    transition: filter 300ms;
  }

  p{
    font-size: rem(15);
    margin: 0 5px 0 10px;
  }



}



.retour {
  position: fixed;
  bottom: 15px;
  right: 10px;

  margin: 0 20px 0 0;

  height: 45px;
  width: 45px;

  background-color: $color-bg-dark;
  border: solid $color-text-normal 4px;
  border-radius: 50%;

  opacity: 0.8;
  cursor: pointer;
  outline: none;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  text-decoration: none;

}
.retour:hover{
  background-color: $color-link;
}

.retour i.material-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-link;
  padding-top: 3px;
  font-size: rem(30);
}

.retour i.material-icons:hover  {
  color: $color-bg-dark;
}
