header{
  background: $color-bg-light;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  img{
    width: 45px;
    height: 45px;
    margin: 0 0 0 20px;
  }

  h1{
    margin: 0 0 0 20px;
    font-size: rem(35);
    font-family: $ff-title;
  }


}

@media screen and (min-width: $vw-medium){
  header{
    img{
      width: 60px;
      height: 60px;
    }

    h1{
      font-size: rem(40);
    }

  }
}





