.template{
  display: none;
}
article.film{
  h2{
    color: $color-title-light;
  }
  p{
    color: $color-title-light;
  }

  a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $color-bg-dark;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;

  }
  a:hover{
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

}

@media screen and (min-width: $vw-medium){
  article.film{
    display: flex;
    margin: 0 auto;
    width: 600px;
    p{
      padding: 0 15px 0 15px;
    }
    a{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: $color-bg-dark;
      margin: 30px 10px 30px 10px;
      border-radius: 10px;

      height: 850px;
      width: 600px;

    }
  }
  .liste-films{
    display: flex;
    flex-wrap: wrap;
  }
}