.nav2{
  display: none;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 15px;
  left: 20px;

  z-index: 999;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: $color-link-active;

  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: $color-link;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: $color-title-dark;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger

 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: $color-title-dark;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: $color-bg-dark;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0 0;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

nav{
  height: 50px;
}

@media screen and (min-width: $vw-large){
  nav{
    height: 80px;
    display: flex;
    justify-content: center;
  }
  #menuToggle{
    display: none;
  }
  .nav2{
    display: flex;

    li{
      margin-right: 20px;
      list-style: none;
      text-transform: uppercase;
    }
    .snip1582 {
      text-decoration: none;
      background-color: $color-link;
      border: none;
      color: $color-title-light;
      cursor: pointer;
      display: inline-block;
      font-size: 1em;
      font-size: rem(22);
      line-height: 1em;
      margin: 15px 40px;
      outline: none;
      padding: 12px 40px 10px;
      position: relative;
      text-transform: uppercase;
      font-weight: 700;
    }

    .snip1582:before,
    .snip1582:after {
      border-color: transparent;
      -webkit-transition: all 0.25s;
      transition: all 0.25s;
      border-style: solid;
      border-width: 0;
      content: "";
      height: 24px;
      position: absolute;
      width: 24px;
    }

    .snip1582:before {
      border-color: $color-link-focus;
      border-top-width: 2px;
      left: 0px;
      top: -5px;
    }

    .snip1582:after {
      border-bottom-width: 2px;
      border-color: $color-link-visited;
      bottom: -5px;
      right: 0px;
    }

    .snip1582:hover,
    .snip1582.hover {
      background-color: $color-link-hover;
    }

    .snip1582:hover:before,
    .snip1582.hover:before,
    .snip1582:hover:after,
    .snip1582.hover:after {
      height: 100%;
      width: 100%;
    }
  }
}

