
.swiper-container {
  width: 100vw;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: rem(36);
  background: $color-bg-dark;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  img{
    height: 500px;
    width: 300px;
  }

  a{
    background-color: $color-link-active;
    padding: 15px;
    border-radius: 10px;
    height: 650px;

  }

}
div.swiper-wrapper{
  height: 700px;
}

li.itemCarrousel{
  display: flex;
  flex-direction: column;
  width: 300px;

  .texteSwiper{
    color: $color-title-light;
  }
}

@media screen and (min-width: $vw-medium){
  li.itemCarrousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;

    .texteSwiper{
      color: $color-title-light;
    }
  }
}
